<body>
    <header class="bg-primary text-white text-center py-4">
        <h3><span class="text-warning">Afya</span>Care Hospital</h3>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <div class="container-fluid justify-content-center">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white text-center" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-briefcase-fill text-warning" style="font-size: 30px;"></i>
                                <div>Our Services</div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/services">Our Services</a></li>
                                <li><a class="dropdown-item" href="#">Emergency Services</a></li>
                                <li><a class="dropdown-item" href="#">Inpatient Services</a></li>
                                <li><a class="dropdown-item" href="#">Outpatient Services</a></li>
                                <li><a class="dropdown-item" href="#">Pharmacy Services</a></li>
                                <li><a class="dropdown-item" href="#">Palliative and Hospice Care</a></li>
                                <li><a class="dropdown-item" href="#">Social Services</a></li>
                                <li><a class="dropdown-item" href="#">Diagnostic Services</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Find More</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white text-center" href="/clinic">
                                <i class="bi bi-hospital-fill text-warning" style="font-size: 30px;"></i>
                                <div>Our Clinic</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-center" href="#">
                                <i class="bi bi-heart-fill text-warning" style="font-size: 30px;"></i>
                                <div>Help a Needy Patient</div>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white text-center" href="/news" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-newspaper text-warning" style="font-size: 30px;"></i>
                                <div>News & Media</div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/news">News & Media</a></li>
                                <li><a class="dropdown-item" href="#">Health Updates</a></li>
                                <li><a class="dropdown-item" href="#">Events and Workshops</a></li>
                                <li><a class="dropdown-item" href="#">Patient Stories</a></li>
                                <li><a class="dropdown-item" href="#">New Services and Facilities</a></li>
                                <li><a class="dropdown-item" href="#">Health Tips and Resources</a></li>
                                <li><a class="dropdown-item" href="#">Community Involvement</a></li>
                                <li><a class="dropdown-item" href="#">Research and Clinical Trials</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Find More</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-center" href="/appoint">
                                <i class="bi bi-check-circle-fill text-warning" style="font-size: 30px;"></i>
                                <div>Appointments</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-center" href="#">
                                <i class="bi bi-briefcase-fill text-warning" style="font-size: 30px;"></i>
                                <div>Careers & Internships</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-center" href="/docs">
                                <i class="bi bi-building-fill-check text-warning" style="font-size: 30px;"></i>
                                <div>Departments</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-center" href="/about">
                                <i class="bi bi-info-circle-fill text-warning" style="font-size: 30px;"></i>
                                <div>About Us</div>
                            </a>
                        </li>
                    </ul>

                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button type="button" class="btn btn-outline-warning">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>